<div class="card">
    <h1 class="title">Clientes</h1>
        <div class="card-body">
            <form>
                <h5>Nombre del Cliente</h5>
                <input class="color form-control" type="text" [(ngModel)]="cliente" name="nombre">
                <h5>Telefono del Cliente</h5>
                <input class="color form-control" type="text" [(ngModel)]="telefono" name="telefono">
                <h5>Sexo del Cliente</h5>
                <select class="form-select form-control" [(ngModel)]="sexo" name="sexo">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
                <button type="button" (click)="addClient()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Agregar Cliente 
                </button>
            </form>
        </div>
</div>

<div class="card">
    <h2 class="title"> Lista de clientes </h2>
    <div class="card-body">
        <div class="tamaño-table">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> Nombre </th>
                    <th scope="col"> Telefono </th>
                    <th scope="col"> Sexo </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let cliente of clientes">
                    <td WIDTH="80"> {{cliente.id_cliente}} </td>
                    <td WIDTH="550"> {{cliente.nombre}} </td>
                    <td WIDTH="350"> {{cliente.telefono}} </td>
                    <td WIDTH="350"> {{cliente.sexo}} </td>
                    <td WIDTH="350"> 
                        <ul> 
                            <li class="fas fa-edit" [routerLink]="['/home/clientes/configuracion', cliente.id_cliente]"> Detalle </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
