<h1>Clientes</h1>
<div class="card">
    <div class="card-body">
        <form>
            <input type="text" [(ngModel)]="cliente" name="nombre">
            <br>
            <input type="text" [(ngModel)]="telefono" name="telefono">
            <br>
            <!--
                Aqui agregare otro tipo de componente como un radio button o un combo
            -->
            <input type="text" [(ngModel)]="sexo" name="sexo">
            <br>
            <button (click)="addClient()"> Agregar Cliente </button>
        </form>
        <table>
        <thead>
            <tr>
            <th> ID </th>
            <th> Nombre</th>
            <th> Telefono</th>
            <th> Sexo</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let cliente of clientes">
                <td> {{cliente.id_cliente}} </td>
                <td> {{cliente.nombre}} </td>
                <td> {{cliente.telefono}} </td>
                <td> {{cliente.sexo}} </td>
                <td> <ul> <li [routerLink]="['/clientes/configuracion', cliente.id_cliente]"> Detalle </li></ul></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

