<div class="card">
  <h2 class="title"> Ingresar una nueva marca </h2>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="color form-control" placeholder="Insertar marca" [(ngModel)]="marca" name="marca">
          <button type="button" (click)="insertMarc()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Ingresar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <h2 class="title"> Lista de marcas </h2>
  <div class="card-body">
    <div class="tamaño-table">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col"> ID </th>
            <th scope="col"> Marca </th>
            <th scope="col"> Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let marca of marcas">
            <td WIDTH="80"> {{marca.id_marca}} </td>
            <td WIDTH="150"> {{marca.nombre_marca}} </td>
            <td>
              <ul>
                  <li class="fas fa-trash-alt icons" [routerLink]="['/home/marcas/configuracion/', marca.id_marca]"> </li>
                  <li class="fas fa-edit" [routerLink]="['/home/marcas/configuracion/', marca.id_marca]"> </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
