<div class="card">
  <h1> Categorias </h1>
  <div class="card-body" *ngFor = "let categoria of categorias">
    <form>
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="color form-control" [(ngModel)]="categoria.nombre_categoria" name="categoria"><br><br>
          <button type="button" (click)="editCate()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Editar
          </button>
          <button type="button" (click)="eliminarCate()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Eliminar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

