.form-control{
    background-color: #121121;
    color: #fff;
}

.card{
    background-color: #121121;
}

table{
    margin-top: 15px;
}

.icons {
    margin-left: -15px;
    margin-right: 10px;
}

button{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    background: #1E1E2F;
    letter-spacing: 2px;
    font-size: 16px;
    transition: 0.5s;
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  button:hover{
    color: rgba(255, 255, 255, 1);
  }
  button span{
    display: block;
    position: absolute;
    background-color: #0a698f;
  }
  button span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
  }
  button:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
  }
  
  button span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  button:hover span:nth-child(2){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
  }
  
  button span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
  }
  button:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
  }
  
  button span:nth-child(4){
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  button:hover span:nth-child(4){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
  }