
  <div class="container">
    <div class="row mt-4 mb-2 text-center">
      <div class="col">
        <button type="button" (click)="openFormModal()" class="btn btn-dark">
          Add
        </button>
      </div>
    </div>
  </div>
   
  <!--form modal-->
  <div
    class="modal fade"
    id="myModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bootstrp Modal</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h3>Hello!</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="saveSomeThing()">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
