<h1>Dashboard</h1>

<div class="row">
    <div class="column">
        <div class="card">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h2>Front Side</h2>
                        <div class="chart-area"><canvas id="grafColors" > </canvas></div>
                    </div>
                    <div class="flip-box-back">
                        <h2>Back Side</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h3>Mas Stock</h3>
                        <div class="chart-area"><canvas id="grafStockMas" > </canvas></div>
                    </div>
                    <div class="flip-box-back">
                        <h3>Menos Stock</h3>
                        <div class="chart-area"><canvas id="grafStockMenos" > </canvas></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column-large">
        <div class="card">
            <h3>Compras por año</h3>
            <div class="chart-area"><canvas id="grafTotalCompras" > </canvas></div>
        </div>
    </div>
</div>

<!-- <div class="card">
    <div class="card-head">
        What is Lorem Ipsum?
    </div>
    <div class="card-body">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    </div>
</div> -->